.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

button {
    display: flex;
    padding: 10 30;
    margin-right: 10px;;
    transition: 250ms;
    border: none;
    border-radius: 4px;
    &:last-child {
        margin: 0
    }
    &:hover {
        cursor: pointer;
        background: #f7f7f7;
    }
    &:disabled {
        display: none;
        pointer-events: none;
    }
}




